header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

    background-color: #333333;
    height: 90px;
    align-items: center;
    
}

.logo{
    flex: 2;
    list-style: none;
    white-space: nowrap;
}

.logo-img{
    margin-left: 70px;
    width: 90px;
    height: 90px;
    min-width: 90px;
}

.logo-name{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 54px;
    margin-right: 40px;
}

.search-box{
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    margin-right: 20px;
    flex: 2;

}

.search-txt{
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    font-size: 16px;
    border-radius: 45px 0px 0px 45px;
    padding-left: 10px;
    margin-right: -10px;

}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 0px 45px 45px 0px;
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
    color: #333333;
    
}

.nav-box{
    flex:2;

}

.nav-links{
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    display: flex;

}

.nav-link{
    font-size: 22px;
    white-space: nowrap;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: white;
    transition: 0.2s color;
}

#shopping-cart{
    font-size: 30px;
    margin-left: 20px;
}

.nav-link:hover{
    color: #a7802e;
}

